<% content_for(:title) %>
<%= image_pack_tag "media/images/header_awa.png", class: "headerimage" %>
<div class="toppage-img-overlay">
  <div class="card-img-overlay">
    <div class="container">
      <%= image_pack_tag "media/images/title.png", size: "500x500", class: "toppage-title" %>
    </div>
  </div>
</div>
  <div class="container">
    <div class="wrapper">
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-center"> 
          <div class='text-center topbtn'>
            <%= button_to 'まずはお酒から選ぶ', choice_path, method: :get, class: "btn btn-malformation shadow" %>
            <div class="catchcopy">
              <%= image_pack_tag "media/images/catchcopy.png", size: "600x600", class: "otsumamiko-kanpai" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="toppage-container">
    <div class="row">
      <div class="col-6 pr">
        <%= image_pack_tag "media/images/toppage_01.png", size: "600x600" %>
      </div>
      <div class="col-6 pr">
        <div class="toppage-pr01 text-center">
          <p>3つの質問に答えてあなたにぴったりな<br>おつまみを表示</p>
          <p class="pr-point">おつまみライフをサポート</p>
        </div>
      </div>
      <div class="col-6 pr p-0">
        <div class="toppage-pr01 text-center">
          <p>試してみたいおつまみを<br>すぐに登録<br>マイページであなただけの</p>
          <p class="pr-point">おつまみリスト</p>
        </div>
      </div>
      <div class="col-6 pr">
        <%= image_pack_tag "media/images/toppage_02.png", size: "550x550", class: "pr02" %>
      </div>
      <div class="col-6 pr">
        <%= image_pack_tag "media/images/toppage_03.png", size: "600x600" %>
      </div>
      <div class="col-6 pr">
        <div class="toppage-pr01 text-center">
          <p>気になるおつまみを見つけたらコンビニへ<br>今いるコンビニからも絞り込める</p>
          <p class="pr-point">タグ検索機能</p>
        </div>
      </div>
    </div>
    <div class="col-12 text-center">
      <div class='text-center topbtn'>
        <%= button_to 'まずはお酒から選ぶ', choice_path, method: :get, class: "btn btn-malformation shadow" %>
      </div>
    </div>
  </div>
