<% content_for(:title) %>
<%= image_pack_tag "media/images/header_awa.png", class: "headerimage" %>
<div class="toppage-img-overlay">
  <div class="card-img-overlay">
    <div class="container">
      <%= image_pack_tag "media/images/title.png", size: "500x500", class: "toppage-title" %>
    </div>
  </div>
</div>
  <div class="container">
    <div class="wrapper">
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-center"> 
          <div class='text-center topbtn'>
            <%= button_to 'まずはお酒から選ぶ', choice_path, method: :get, class: "btn btn-malformation shadow" %>
            <div class="catchcopy">
              <%= image_pack_tag "media/images/catchcopy.png", size: "600x600", class: "otsumamiko-kanpai" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="toppage-container">
    <div class="row">
      <div class="col-5 pr">
        <%= image_pack_tag "media/images/toppage_01.png", size: "450x450" %>
      </div>
      <div class="col-7 pr">
        <div class="toppage-pr01">
          <p>まずはお酒から選ぶのボタンを<br>クリック！<br>3つの質問に答えるだけで<br><span class="pr-point">ぴったりなおつまみを提案</span></p>
        </div>
      </div>
      <div class="col-7 pr p-0">
        <div class="toppage-pr02">
          <p>気になったおつまみの詳細を開いて<br>右にスワイプ!<br><span class="pr-point">あなただけのおつまみリスト</span><br>が完成</p>
        </div>
      </div>
      <div class="col-5 pr">
        <%= image_pack_tag "media/images/toppage_02.png", size: "450x450", class: "pr02" %>
      </div>
      <div class="col-5 pr">
        <%= image_pack_tag "media/images/toppage_03.png", size: "450x450" %>
      </div>
      <div class="col-7 pr">
        <div class="toppage-pr01">
          <p>気になるおつまみを見つけたら<br>コンビニへ<br>タグ検索機能を使って<br><span class="pr-point">今いるコンビニから</span>も絞り込める</p>
        </div>
      </div>
    </div>
    <div class="col-12 text-center">
      <div class='text-center topbtn'>
        <%= button_to 'まずはお酒から選ぶ', choice_path, method: :get, class: "btn btn-malformation shadow" %>
      </div>
    </div>
  </div>
