<% content_for(:title) %>
<%= image_pack_tag "media/images/header_awa.png", class: "headerimage" %>
  <div class="card-img-overlay">
    <div class="container">
      <h2 class="font-weight-bold">コンビニにある食べ物でペアリング</h2>
      <h1 class="font-weight-bold top-font"><%= t '.title' %></h1>
    </div>
  </div>
  <div class="container">
    <div class="wrapper">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <div class="d-flex align-items-center justify-content-center"> 
          <div class='text-center'>
            <%= button_to 'まずはお酒から選ぶ', choice_path, method: :get, class: "h4 text-light btn-danger rounded-pill py-4 px-5 shadow-lg p-3" %>
            <div class="catchcopy">
              <p class="my-5 h2">いつものお酒におつまみこ<br><br>新しい体験をあなたに</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="toppage-container">
    <div class="row">
      <div class="col-6 pr">
        <%= image_pack_tag "media/images/toppage_01.png", size: "500x500" %>
      </div>
      <div class="col-6 pr">
        <div class="toppage-pr01 text-center mr-3">
          <p>3つの質問に答えて<br>今日のおつまみを決めましょう</p>
          <p class="pr-point">おつまみライフをサポート</p>
        </div>
      </div>
      <div class="col-6 pr p-0">
        <div class="toppage-pr01 text-center ml-4">
          <p>試してみたいおつまみをすぐに登録<br>マイページであなただけの</p>
          <p class="pr-point">おつまみリスト</p>
        </div>
      </div>
      <div class="col-6 pr">
        <%= image_pack_tag "media/images/toppage_02.png", size: "500x500", class: "pr02" %>
      </div>
      <div class="col-6 pr">
        <%= image_pack_tag "media/images/toppage_03.png", size: "500x500" %>
      </div>
      <div class="col-6 pr">
        <div class="toppage-pr01 text-center mr-3">
          <p>気になるおつまみを見つけたらコンビニへ<br>今いるコンビニからも絞り込める</p>
          <p class="pr-point">タグ検索機能</p>
        </div>
      </div>
    </div>
    <div class="col-12 text-center">
      <div class="toppage-button">
        <%= button_to 'まずはお酒から選ぶ', choice_path, method: :get, class: "h4 text-light btn-danger rounded-pill py-4 px-5 shadow-lg p-3 my-5" %>
      </div>
    </div>
  </div>
