<% content_for(:title, "パスワードを忘れた方") %>
<%= image_pack_tag "media/images/header_awa.png", class: "headerimage" %>
  <div class="card-img-overlay">
    <div class="container">
      <h1 class="font-weight-bold title-font"><%= t '.title' %></h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <%= form_with model: @user, url: password_reset_path(@token), local: true do |f| %>
          <div class="form-group h1 py-3">
            <%= f.label :email, User.human_attribute_name(:email), class: "required" %><br>
            <%= f.text_field :email, type: "text", placeholder: "otsumamiko@example.com" %>
            <%= render 'shared/error_messages', model: f.object, attribute: :email %>
          </div><br>
          <div class="form-group h1 py-3">
            <%= f.label :password, User.human_attribute_name(:password), class: "required" %><br>
            <%= f.password_field :password, type: "password", placeholder: "password" %>
            <%= render 'shared/error_messages', model: f.object, attribute: :password %>
          </div><br>
          <div class="form-group h1 py-3">
            <%= f.label :password_confirmation, User.human_attribute_name(:password_confirmation), class: "required" %><br>
            <%= f.password_field :password_confirmation, type: "password", placeholder: "password" %>
            <%= render 'shared/error_messages', model: f.object, attribute: :password %>
          </div><br>
          <div class="actions text-center topbtn">
            <%= f.submit '変更', class: "btn btn-malformation shadow" %>
          </div>
        <% end %>
        <div class="text-center password-forget">
          <%= link_to (t 'defaults.register'), new_user_path, class: "mr-4 text-reset h3" %>
          <%= link_to (t 'defaults.login'), login_path, class: "text-reset h3" %>
        </div>
      </div>
    </div>
  </div>
</div>
