<% content_for(:title, "パスワードを忘れた方") %>
<%= image_pack_tag "media/images/header_awa.png", class: "headerimage" %>
  <div class="card-img-overlay">
    <div class="container">
      <h1 class="font-weight-bold title-font"><%= t '.title' %></h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <%= form_with model: @user, url: password_reset_path(@token), local: true do |f| %>
          <div class="form-group h4 py-3">
            <%= f.label :email, User.human_attribute_name(:email) %><br>
            <%= f.text_field :email, class: "form-control comment-area serch_field shadow-lg rounded-pill pl-5", type: "text", placeholder: "メールアドレス" %>
            <%= render 'shared/error_messages', model: f.object, attribute: :email %>
          </div><br>
          <div class="form-group h4 py-3">
            <%= f.label :password, User.human_attribute_name(:password) %><br>
            <%= f.password_field :password, class: "form-control comment-area serch_field shadow-lg rounded-pill pl-5", type: "password", placeholder: "パスワード" %>
            <%= render 'shared/error_messages', model: f.object, attribute: :password %>
          </div><br>
          <div class="form-group h4 py-3">
            <%= f.label :password_confirmation, User.human_attribute_name(:password_confirmation) %><br>
            <%= f.password_field :password_confirmation, class: "form-control comment-area serch_field shadow-lg rounded-pill pl-5", type: "password", placeholder: "パスワード" %>
            <%= render 'shared/error_messages', model: f.object, attribute: :password %>
          </div><br>
          <div class="actions text-center">
            <%= f.submit '送信', class: "btn h3 text-light btn-danger btn-block rounded-pill px-5 shadow-lg p-3 submit-btn" %>
          </div>
        <% end %>
        <div class="text-center password-forget">
          <%= link_to (t 'defaults.register'), new_user_path, class: "mr-4 text-reset" %>
          <%= link_to (t 'defaults.password_forget'), class: "mr-4 text-reset" %>
        </div>
      </div>
    </div>
  </div>
</div>
