<%= image_pack_tag "media/images/header_awa.png", class: "headerimage" %>
  <div class="card-img-overlay">
    <div class="container">
      <h1 class="font-weight-bold">パスワードを<br>忘れた方</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <%= form_with model: @user, url: password_resets_path, local: true, method: :post do |f| %>
          <div class="form-group h4 py-3">
            <%= f.label :メールアドレス %><br />
            <%= f.text_field :email, class: "form-control", type: "text", placeholder: "メールアドレス" %>
          </div><br>
          <div class="actions text-center">
            <%= f.submit 'メールを送信する', class: "btn h3 text-light btn-danger btn-block rounded-pill py-4 px-5 shadow-lg p-3 submit-btn" %>
          </div>
        <% end %>
        <div class="text-center password-forget">
          <%= link_to '新規登録', new_user_path, class: "mr-4 text-reset" %>
          <%= link_to 'ログイン', login_path, class: "text-reset" %>
        </div>
      </div>
    </div>
  </div>
</div>
