<%= image_pack_tag "media/images/header_awa.png", class: "headerimage" %>
<div class="card-img-overlay">
  <div class="container">
    <h1 class="font-weight-bold title-font"><%= t '.title' %></h1>
  </div>
</div>
<div class="container-fluid">
<div class="row">
  <div class="text-center">
    <ul class="nav nav-tabs nav-pills">
      <li class="nav-item col p-0">
        <a href="#contents1" class="nav-link active bookmark-tab" data-toggle="tab"><i class="fas fa-thumbs-up fa-3x"></i></a>
      </li>
      <li class="nav-item col p-0">
        <a href="#contents2" class="nav-link review-tab" data-toggle="tab"><i class="fas fa-pen-nib fa-3x"></i></a>
      </li>
    </ul>
  </div>
</div>
</div>
<div class="tab-content">
  <div id="contents1" class="tab-pane active">
    <div class="container text-center">
      <div class="bookmark">
        <div id="pageScroll" data-page="">
          <div id="records_table" class="row">
          <% if @user.bookmarks.present? %>
            <%= render @user_bookmarks %>
          <% else %>
            <p class="h5">まだ気になっているおつまみがありません。<br>一覧から探しましょう！</p>
          <% end %>
          </div>
          <div class="loader"></div>
          <div id="div_next_link">
            <%= render 'snacks/next_link' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="contents2" class="tab-pane">
    <div class="container text-center">
      <div class="review">
        <div id="pageScroll" data-page="">
          <div id="records_table" class="row">
          <% if @user.reviews.present? %>
            <%= render @user_reviews %>
          <% else %>
            <p class="h5">まだレビューしたおつまみがありません。<br>レビューしてみましょう！</p>
          <% end %>
          </div>
          <div class="loader"></div>
          <div id="div_next_link">
            <%= render 'snacks/next_link' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'pages/page_scroll' %>