<header>
  <nav class="navbar navbar-expand-lg navbar-light mt-3 mb-3">
    <%= link_to "おつまみ子", root_path, class: "mx-5 h2" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav3" aria-controls="navbarNav3" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav3">
          <ul class="navbar-nav float-right h4">
            <li class="nav-item mx-4 py-2">
              <%= link_to 'トップページ', root_path, class: "navbar-item is-active" %>
            </li>
            <li class="nav-item mx-4 py-2">
              <%= link_to 'マイページ', user_path(current_user.id), class: "navbar-item is-active" %>
            </li>
            <li class="nav-item mx-4 py-2">
              <%= link_to 'おつまみ一覧', snacks_path, class: "navbar-item is-active" %>
            </li>
            <li class="nav-item mx-4 py-2">
              <%= link_to 'ログアウト', logout_path, method: :delete, class: "navbar-item is-active" %>
            </li>
          </ul>
        </div>
  </nav>
</header>
