<header>
<%= link_to root_path do %>
  <%= image_tag "logo.png", size: "150x150", class: "header-logo" %>
<% end %>
<div id="nav-toggle">
  <div>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

<div id="gloval-nav">
  <nav>
    <ul>
      <li><%= link_to 'おつまみでお困りの方', choice_path, class: "header-nav-link" %></li>
      <li><%= link_to 'おつまみ一覧', snacks_path, class: "header-nav-link" %></li>
      <li><%= link_to 'マイページ', mypage_path, class: "header-nav-link" %></li>
      <li><%= link_to 'お気に入り', bookmarks_mypages_path, class: "header-nav-link" %></li>
      <li><%= link_to 'レビュー', reviews_mypages_path, class: "header-nav-link" %></li>
      <li><%= link_to 'ログアウト', logout_path, method: :delete, class: "header-nav-link" %></li>
    </ul>
  </nav>
</div>
</header>

<%= javascript_pack_tag "pages/header", defer: true %>