<% content_for(:title, "マイページ") %>
<%= image_tag "header_awa.png", class: "headerimage" %>
<div class="card-img-overlay">
  <div class="container">
    <h1 class="font-weight-bold title-font"><%= t '.title', name: current_user.name %></h1>
  </div>
</div>

<div class="container text-center">
  <div class="bookmark">
    <% if current_user.bookmarks.present? %>
      <div id="pageScroll" data-page="">
        <div id="records_table" class="row">
          <%= render @user_bookmarks %>
        </div>
        <div class="loader" id="loader"></div>
        <div id="div_next_link">
          <%= render 'snacks/next_link' %>
        </div>
      </div>
    <% else %>
        <p class="h5">まだ気になっているおつまみがありません。<br>一覧から探しましょう！</p>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag 'pages/mypage' %>