<% content_for(:title, "マイページ") %>
<%= image_tag "header_awa.png", class: "headerimage" %>
<div class="card-img-overlay">
  <div class="container">
    <h1 class="font-weight-bold title-font"><%= t '.title', name: current_user.name %></h1>
  </div>
</div>

<div class="container text-center">
  <div class="review">
    <% if current_user.reviews.present? %>
      <div id="pageScroll" data-page="">
        <div id="records_table" class="row">
          <% cache @user_reviews do %>
            <%= render @user_reviews %>
          <% end %>
        </div>
        <% unless @pagy.pages == 1 %>
          <div class="loader" id="loader"></div>
        <% end %>
        <div id="div_next_link">
          <%= render 'shared/next_link' %>
        </div>
      </div>
    <% else %>
      <h2>まだレビューしたおつまみがありません。<br>レビューしてみましょう！</h2>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag 'pages/page_scroll', defer: true %>