<%= image_pack_tag "media/images/header_awa.png", class: "headerimage" %>
<div class="card-img-overlay">
  <div class="container">
    <h1 class="font-weight-bold title-font"><%= t '.title', name: current_user.name %></h1>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card mypage-card shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <div class="mypage-name">おなまえ</div>
            <h3><%= current_user.name %></h3>
          <div class="mypage-email">メールアドレス</div>
            <h3><%= current_user.email %></h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center mypage-area">
  <div class="col-5 text-center">
    <%= button_to bookmarks_mypages_path, class: "btn btn-bookmark shadow-lg", method: :get do %>
      <i class="fas fa-thumbs-up"></i><br>
      <%= current_user.bookmarks.count %>
    <% end %>
  </div>
  <div class="col-5 text-center">
    <%= button_to reviews_mypages_path, class: "btn btn-review shadow-lg", method: :get do %>
      <i class="fas fa-pen-nib"></i><br>
      <%= current_user.reviews.count %>
    <% end %>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="text-center">
      <ul class="nav nav-tabs nav-pills">
        <li class="nav-item col p-0">
          <%= link_to choice_path, class: "nav-link wine-tab" do %>
            <i class="fas fa-glass-cheers"></i>
          <% end %>
        </li>
        <li class="nav-item col p-0">
          <%= link_to snacks_path, class: "nav-link search-tab" do %>
            <i class="fas fa-search"></i>
          <% end %>
        </li>
        <li class="nav-item col p-0">
          <%= link_to mypage_path, class: "nav-link search-tab active" do %>
            <i class="far fa-user-circle"></i>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>