<h1 class="text-center my-1">おつまみ一覧</h1>
<%= search_form_for @q, url: admin_snacks_path do |f| %>
  
  <%= f.submit "検索" %>
<% end %>
<div class="text-right">
  <%= link_to "新規作成", new_admin_snack_path %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" class="text-center">id</th>
      <th scope="col" class="text-center">name</th>
      <th scope="col" class="text-center">alcohol</th>
      <th scope="col" class="text-center">tag</th>
      <th scope="col" class="text-center">bookmark</th>
      <th scope="col" class="text-center">review</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @snacks %>
  </tbody>
</table>
<%== pagy_bootstrap_nav(@pagy) %>