<h1 class="text-center my-5">新規作成</h1>
<div class="row justify-content-center text-center">
  <div class="col-8">
    <div class="card text-center">
      <div class="card-body">
      <%= form_with model: @snack, url: admin_snacks_path, local: true, method: :post do |f| %>
        <div class="form-group">
          <%= f.label :image, class: "text-info" %>
          <%= f.file_field :image, accept: 'image/*', class: "form-control" %>
          <%= render 'shared/error_messages', model: f.object, attribute: :image %>
        </div>
        <div class="form-group">
          <%= f.label :name, class: "text-info" %>
          <%= f.text_field :name, class: "form-control" %>
          <%= render 'shared/error_messages', model: f.object, attribute: :name %>
        </div>
        <div class="form-group">
          <%= f.label :alcohol, class: "text-info" %><br>
          <%= f.select :alcohol, options_for_select(Snack.alcohols.keys), class: "form-control" %>
          <%= render 'shared/error_messages', model: f.object, attribute: :alcohol %>
        </div>
        <div class="check_box" >
          <%= f.label :tag, class: "text-info" %><br>
          <%= collection_check_boxes(:snack, :tag_ids, Tag.all, :id, :name, include_hidden: false) do |tag| %>
            <%= tag.label { tag.check_box + tag.text } %>
          <% end %>
          <%= render 'shared/error_messages', model: f.object, attribute: :tag %>
        </div>
        <div class="actions">
          <%= f.submit '送信', class: "btn btn-primary" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>