<div class="card bg-warning">
  <p>お問合せ</p>
  <%= Inquiry.all.length %>
</div>
<div class="card bg-primary">
  <p>ユーザー数</p>
  <%= User.all.length %>
</div>
<div class="card bg-secondary">
  <p>おつまみ総数</p>
  <%= Snack.all.length %>
</div>
<div class="card bg-secondary">
  <p>ビール</p>
  <%= Snack.all.beer.length %>
</div>
<div class="card bg-secondary">
  <p>ワイン</p>
  <%= Snack.all.wine.length %>
</div>
<div class="card bg-secondary">
  <p>sake</p>
  <%= Snack.all.sake.length %>
</div>
<div class="card bg-danger">
  <p>レビュー</p>
  <%= Review.all.length %>
</div>
<div class="card bg-warning">
  <p>タグ数</p>
  <%= Tag.all.length %>
</div>