<% content_for(:title, "お問合せ") %>
<%= image_pack_tag "media/images/header_awa.png", class: "headerimage" %>
  <div class="card-img-overlay">
    <div class="container">
      <h1 class="font-weight-bold title-font"><%= t '.title' %></h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
          <%= form_with model: @inquiry, url: inquiry_path, local: true do |f| %>
            <div class="form-group h4 py-3">
              <%= f.label :name, User.human_attribute_name(:name) %><br>
              <%= f.text_field :name, type: "text", placeholder: "おつまみこ" %>
            </div>
            <div class="form-group h4 py-3">
              <%= f.label :email, User.human_attribute_name(:email) %><br>
              <%= f.text_field :email, type: "text", placeholder: "otsumamiko@example.com" %>
            </div>
            <div class="form-group h4 py-3">
              <%= f.label :category, Inquiry.human_attribute_name(:category), class: "required" %><br>
              <%= f.select :category, Inquiry.categories.keys.map {|k| [I18n.t("enums.inquiry.category.#{k}"), k]} %>
              <%= render 'shared/error_messages', model: f.object, attribute: :category %>
            </div>
            <div class="form-group h4 py-3">
              <%= f.label :message, Inquiry.human_attribute_name(:message), class: "required" %><br>
              <%= f.text_area :message, class: "form-control comment-area shadow-lg rounded", type: "text", placeholder: "お問合せ内容", rows: "5" %>
              <%= render 'shared/error_messages', model: f.object, attribute: :message %>
            </div>
            <div class="actions text-center topbtn">
              <%= f.submit '送信', class: "btn btn-malformation shadow" %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
