<div class="bg-warning">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
          <div class='text-center'>
            <h1 class="font-weight-bold m-5">レビュー</h1>
          </div>
          <h1>評価</h1>
          <%= form_with model: [@snack, @review], local: true do |f| %>
            <div class="field" id="star">
              <p>総合</p>
              <p>悪い</p>
              <%= f.radio_button :rate, "1" %>
              <%= f.radio_button :rate, "2" %>
              <%= f.radio_button :rate, "3", checked: true %>
              <%= f.radio_button :rate, "4" %>
              <%= f.radio_button :rate, "5" %>
              <p>良い</p>
            </div>
            <div class="field" id="star">
              <p>甘味</p>
              <p>良い</p>
              <%= f.radio_button :sweetness, "1" %>     
              <%= f.radio_button :sweetness, "2" %>
              <%= f.radio_button :sweetness, "3", checked: true %>
              <%= f.radio_button :sweetness, "4" %>
              <%= f.radio_button :sweetness, "5" %>
              <p>悪い</p>
            </div>
            <div class="field" id="star">
              <p>塩味</p>
              <p>良い</p>
              <%= f.radio_button :salty, "1" %>
              <%= f.radio_button :salty, "2" %>
              <%= f.radio_button :salty, "3", checked: true %>
              <%= f.radio_button :salty, "4" %>
              <%= f.radio_button :salty, "5" %>
              <p>悪い</p>
            </div>
            <div class="field" id="star">
              <p>酸味</p>
              <p>良い</p>
              <%= f.radio_button :acidity, "1" %>
              <%= f.radio_button :acidity, "2" %>
              <%= f.radio_button :acidity, "3", checked: true %>
              <%= f.radio_button :acidity, "4" %>
              <%= f.radio_button :acidity, "5" %>
              <p>悪い</p>
            </div>
            <div class="field" id="star">
              <p>旨味</p>
              <p>良い</p>
              <%= f.radio_button :taste, "1" %>
              <%= f.radio_button :taste, "2" %>
              <%= f.radio_button :taste, "3", checked: true %>
              <%= f.radio_button :taste, "4" %>
              <%= f.radio_button :taste, "5" %>
              <p>悪い</p>
            </div>
            <div class="field" id="star">
              <p>香り</p>
              <p>良い</p>
              <%= f.radio_button :scent, "1" %>
              <%= f.radio_button :scent, "2" %>
              <%= f.radio_button :scent, "3", checked: true %>
              <%= f.radio_button :scent, "4" %>
              <%= f.radio_button :scent, "5" %>
              <p>悪い</p>
            </div>
            <div class="form-group">
              <%= f.label :感想 %><br />
              <%= f.text_field :comment, class: "form-control", type: "text", placeholder: "コメント" %>
            </div>
            <div class="actions text-center">
              <%= f.submit '投稿する', class: "btn btn-danger my-5" %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>

