<%= image_pack_tag "media/images/header_awa.png", class: "headerimage" %>
  <div class="card-img-overlay">
    <div class="container">
      <h1 class="font-weight-bold">ログイン</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
          <%= form_with model: @user, url: login_path, local: true do |f| %>
            <div class="form-group h4 py-3">
              <%= f.label :メールアドレス %><br />
              <%= f.text_field :email, class: "form-control h3", type: "text", placeholder: "メールアドレス" %>
            </div><br>
            <div class="form-group h4 py-3">
              <%= f.label :パスワード %><br />
              <%= f.password_field :password, class: "form-control h3", type: "password", placeholder: "パスワード" %>
            </div>
            <div class="actions text-center">
              <%= f.submit '送信', class: "btn h3 text-light btn-danger btn-block rounded-pill py-4 px-5 shadow-lg p-3 submit-btn" %>
            </div>
          <% end %>
          <div class="text-center password-forget">
            <%= link_to '新規登録', new_user_path, class: "mr-4 text-reset" %>
            <%= link_to 'パスワードリセット', new_password_reset_path, class: "text-reset" %>
          </div>
      </div>
    </div>
  </div>
</div>
