<div class="col-md-12 col-xl-6">
  <div class="card m-4 shadow-lg p-3 mb-5 bg-white rounded" style="height: 48rem;">
    <div data-toggle="modal" data-target="#exampleModal">
      <%= link_to snack_path(snack), class: "text-decoration-none text-dark", remote: true do %>
        <div class="snack-image text-center">
          <% if snack.image.attached? %>
          <%= image_tag snack.image, size: '250x450', class: 'card-img-top' %>
          <% else %>
          <%= image_pack_tag "media/images/default.png", size: '250x450', class: 'card-img-top' %>
          <% end %>
          <div class="bookmark-<%= snack.id %> bookmark-position">
          <%= render 'bookmarks/bookmark_area', snack: snack %>
          </div>
        </div>
      <div class="card-body">
        <div class='text-center'>
          <h2 class="font-weight-bold m-0 pt-4"><%= snack.alcohol_i18n %>
          <br><div class="py-2">✖️</div>
          <div class="index-snack-name"><%= snack.name %></div></h2><br>
          <ul>
            <li class="list-inline-item h2 mr-1 mb-0 align-middle">
              <% if snack.reviews.blank? %>
                <%= snack_rate = 0.0 %>
              <% else %>
                <%= snack_rate = snack.reviews.average(:rate).round(2) %>
              <% end %>
            </li>
            <li class="list-inline-item align-middle">
              <%= render 'snacks/snack_rate', snack_rate: snack_rate %>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>


<!-- モーダルウインドウで詳細表示 -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLong" aria-hidden="true" draggable="true">
<div class="modal-dialog modal-dialog-centered" role="document"></div></div>
