<div class="col-md-12 col-xl-6">
  <div class="card m-4 shadow-lg p-3 mb-5 bg-white rounded" style="height: 48rem;">
    <div data-toggle="modal" data-target="#exampleModal">
    <%= link_to snack_path(snack), class: "text-decoration-none text-dark", remote: true do %>
    <%= image_tag '', size: '250x450', class: 'card-img-top' %>
      <div class="card-body">
        <div class='text-center'>
          <h2 class="font-weight-bold m-0"><%= snack.alcohol %>
          <br><div class="py-2">✖️</div>
          <div class="snack-name"><%= snack.name %></div></h2><br>
          <ul class="review-rate">
            <li class="list-inline-item h2 mr-1 mb-0 align-middle">
              <% if snack.reviews.blank? %>
                <%= snack_rate = 0.0 %>
              <% else %>
                <%= snack_rate = snack.reviews.average(:rate).round(2) %>
              <% end %>
            </li>
            <li class="list-inline-item align-middle">
              <%= render 'snacks/snack_rate', snack_rate: snack_rate %>
            </li>
          </ul>
        </div>
        <div class="bookmark-<%= snack.id %>">
          <%= render 'bookmarks/bookmark_area', snack: snack %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>


<!-- モーダルウインドウで詳細表示 -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLong" aria-hidden="true" draggable="true">
<div class="modal-dialog modal-dialog-centered" role="document"></div></div>
