<div class="col-md-6 col-xs-12">
  <div class="card">
    <div data-toggle="modal" data-target="#exampleModal">
    <%= link_to snack_path(snack), remote: true do %>
      <%= image_tag '', size: '300x200', class: 'card-img-top' %>
        <div class="card-body">
          <div class='text-center'>
            <%= snack.alcohol %><br>x<br>
            <%= snack.name %><br>
              <% if snack.reviews.blank? %>
                <%= snack_rate = 0.0 %>
              <% else %>
                <%= snack_rate = snack.reviews.average(:rate).round(2) %>
              <% end %>
                <%= render 'snacks/snack_rate', snack_rate: snack_rate %>
              <br>
              <div class="bookmark-<%= snack.id %>">
                <%= render 'bookmarks/bookmark_area', snack: snack %>
              </div>
          </div>
        </div>
    <% end %>
    </div>
  </div>
</div>


<!-- モーダルウインドウで詳細表示 -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLong" aria-hidden="true" draggable="true">
<div class="modal-dialog modal-dialog-centered" role="document"></div></div>
