<div class="bg-warning">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <div class="card my-5">
            <div class="card-body">
              <div class='text-center'
              <h1 class="font-weight-bold m-5">どっちがお好きですか？</h1>
              </div>
              <div class="choose_box">
                <div id="q_01" class="fit">
                <ul>
                  <lo>
                    食事系<br>
                    <%= link_to "#q_02", value: "食事系",  class: "button", "data-turbolinks": false do %>
                      <%= image_pack_tag("media/images/pizza.jpg", size: "300x500") %>
                    <% end %>
                  </lo>
                  or
                  <lo>
                    おやつ系<br>
                    <%= link_to "#q_03", class: "button", "data-turbolinks": false do %>
                      <%= image_pack_tag("media/images/snack.jpg", size: "300x500") %>
                    <% end %>
                  </lo>
                </ul>
              </div>

              <div id="q_02" style="display: none;">
                <ul>
                  <lo>
                    <%= link_to "#q_04", value: "しょっぱい系", class: "button", "data-turbolinks": false do %>
                      <%= image_pack_tag("media/images/healthy.jpg", size: "300x500") %>
                        しょっぱい系
                    <% end %>
                  </lo>
                  <lo>
                    <%= link_to "#q_05", class: "button", "data-turbolinks": false do %>
                      <%= image_pack_tag("media/images/healthy.jpg", size: "300x500") %>
                        あまい系
                    <% end %>
                  </lo>
                </ul>
              </div>
              <div id="q_03" style="display: none;">
                <ul>
                  <lo>
                    <%= link_to "#q_06", class: "button", "data-turbolinks": false do %>
                      <%= image_pack_tag("media/images/healthy.jpg", size: "300x500") %>
                        しょっぱい系
                    <% end %>
                  </lo>
                  <lo>
                    <%= link_to "#q_07", class: "button", "data-turbolinks": false do %>
                      <%= image_pack_tag("media/images/healthy.jpg", size: "300x500") %>
                        あまい系
                    <% end %>
                  </lo>
                </ul>
              </div>
              <div id="q_04" style="display: none;">
                <ul>
                  <lo>
                    <%= link_to result_path(user_select_tag: "2, 3, 6".split(",").map(&:to_i), user_select_alcohol: "beer"), class: "button", "data-turbolinks": false do %>
                      <%= image_pack_tag("media/images/healthy.jpg", size: "300x500") %>
                        ヘルシー系
                    <% end %>
                  </lo>
                  <lo>
                    <%= link_to result_path(user_select_tag: "2, 3, 5".split(",").map(&:to_i), user_select_alcohol: "beer"), class: "button", "data-turbolinks": false do %>
                      <%= image_pack_tag("media/images/healthy.jpg", size: "300x500") %>
                        がっつり系
                    <% end %>
                  </lo>
                </ul>
              </div>
              <div id="q_05" style="display: none;">
                <ul>
                  <lo>
                    <%= link_to result_path(user_select_tag: "2, 4, 6".split(",").map(&:to_i), user_select_alcohol: "beer"), class: "button", "data-turbolinks": false do %>
                      <%= image_pack_tag("media/images/healthy.jpg", size: "300x500") %>
                        ヘルシー系
                    <% end %>
                  </lo>
                  <lo>
                    <%= link_to result_path(user_select_tag: "2, 4, 5".split(",").map(&:to_i), user_select_alcohol: "beer"), class: "button", "data-turbolinks": false do %>
                      <%= image_pack_tag("media/images/healthy.jpg", size: "300x500") %>
                        がっつり系
                    <% end %>
                  </lo>
                </ul>
              </div>
              <div id="q_06" style="display: none;">
                <ul>
                  <lo>
                    <%= link_to result_path(user_select_tag: "1, 3, 6".split(",").map(&:to_i), user_select_alcohol: "beer"), class: "button", "data-turbolinks": false do %>
                      <%= image_pack_tag("media/images/healthy.jpg", size: "300x500") %>
                        ヘルシー系
                    <% end %>
                  </lo>
                  <lo>
                    <%= link_to result_path(user_select_tag: "1, 3, 5".split(",").map(&:to_i), user_select_alcohol: "beer"), class: "button", "data-turbolinks": false do %>
                      <%= image_pack_tag("media/images/healthy.jpg", size: "300x500") %>
                        がっつり系
                    <% end %>
                  </lo>
                </ul>
              </div>
              <div id="q_07" style="display: none;">
                <ul>
                  <lo>
                    <%= link_to result_path(user_select_tag: "1, 4, 6".split(",").map(&:to_i), user_select_alcohol: "beer"), class: "button", "data-turbolinks": false do %>
                      <%= image_pack_tag("media/images/healthy.jpg", size: "300x500") %>
                        ヘルシー系
                    <% end %>
                  </lo>
                  <lo>
                    <%= link_to result_path(user_select_tag: "1, 4, 5".split(",").map(&:to_i), user_select_alcohol: "beer"), class: "button", "data-turbolinks": false do %>
                      <%= image_pack_tag("media/images/healthy.jpg", size: "300x500") %>
                        がっつり系
                    <% end %>
                  </lo>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= javascript_pack_tag 'pages/choice' %>