<%= image_pack_tag "media/images/header_awa.png", class: "headerimage" %>
<div class="card-img-overlay">
  <div class="container">
    <h1 class="font-weight-bold"><%= t '.title' %></h1>
  </div>
</div>
<div class="container w-75">
  <%= render 'snacks/search_form_for', url: snacks_path %>
  <div id="pageScroll" data-page="">
    <div id="records_table" class="row">
      <%= render @snack %>
    </div>
    <div id="div_next_link">
      <%= render 'snacks/next_link' %>
    </div>
  </div>
</div>


<%= javascript_pack_tag 'pages/page_scroll' %>