<% content_for(:title, "おつまみ一覧") %>
<%= image_tag "header_awa.png", class: "headerimage" %>
<div class="card-img-overlay">
  <div class="container">
    <h1 class="font-weight-bold title-font"><%= t '.title' %></h1>
  </div>
</div>
<div class="container w-75" id="index-page-scroll">
  <%= render 'snacks/search_form_for', url: snacks_path %>
  <div id="pageScroll" data-page="">
    <div id="records_table" class="row">
      <%= render @snack %>
    </div>
    <div class="loader" id="loader"></div>
    <div id="div_next_link">
      <%= render 'snacks/next_link' %>
    </div>
  </div>
</div>

<div class='arrow_box position-fixed' style="display: none;" id="explanation_text">おつまみを選択して右にスワイプ！</div>
<div class="index-otsumamiko position-fixed">
  <%= image_tag "ogp_apple_touch_icon.png", size: "300x300", id: "explanation_otsumamiko", style: "display: none;" %>
</div>

<%= javascript_pack_tag 'pages/page_scroll' %>