<%= image_pack_tag "media/images/header_awa.png", class: "headerimage" %>
<div class="card-img-overlay">
  <div class="container">
    <h1 class="font-weight-bold title-font"><%= t '.title' %></h1>
  </div>
</div>
<div class="container w-75">
  <%= render 'snacks/search_form_for', url: snacks_path %>
  <div id="pageScroll" data-page="">
    <div id="records_table" class="row">
      <%= render @snack %>
    </div>
    <div id="div_next_link">
      <%= render 'snacks/next_link' %>
    </div>
  </div>
</div>

<div class="beer_icon_button position-fixed">
  <%= image_pack_tag "media/images/beer_icon_button.png", class: "rounded-circle m-5 shadow-lg bg-light p-4", size: "200x200", id: "beer_icon_btn" %>
</div>
<div class='arrow_box position-fixed' style="display: none;" id="beer_icon_text">おつまみを選択して右にスワイプ！</div>


<%= javascript_pack_tag 'pages/page_scroll' %>