<div class="choose_box">
    <div id="q_01" class="fit">
        <p>【質問①】</p>
        <ul>
          <li><%= link_to 'Yes', "#q_02", class: "button", "data-turbolinks": false %></li>
          <li><%= link_to 'No', "#q_03", class: "button", "data-turbolinks": false %></li>
        </ul>
    </div>
    <div id="q_02" style="display: none;">
        <p>【質問②-1】</p>
        <ul>
          <li><%= link_to 'いえす', "#q_04", class: "button", "data-turbolinks": false %></li>
          <li><%= link_to 'のー', "#q_05", class: "button", "data-turbolinks": false %></li>
        </ul>
    </div>
    <div id="q_03" style="display: none;">
        <p>【質問②-2】</p>
        <ul>
          <li><%= link_to 'iiiiiieeeeee', "#q_04", class: "button", "data-turbolinks": false %></li>
          <li><%= link_to 'nonononononon', "#q_05", class: "button", "data-turbolinks": false %></li>
        </ul>
    </div>
    <div id="q_04" style="display: none;">
        <p>【答えA】</p>
    </div> 
    <div id="q_05" style="display: none;">
        <p>【答えB】</p>
    </div>
</div>
