<div class="container food-choice w-75">
  <div class="card my-5 shadow-lg p-3 mb-5 bg-white rounded food-choice-card">
    <div class="card-body">
      <div class='text-center'>
        <h3 class="font-weight-bold mt-5">あなたにぴったりの</h3>
        <h2 class="font-weight-bold title-font">おつまみ</h2>
        <h2 class="font-weight-bold recomend-comment mt-5">今日のおつまみは<br>これを試してみましょう！</h2>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="result-image">
          <% if @snack.image.attached? %>
            <%= image_tag @snack.image, size: '300x450', class: 'card-img-top' %>
          <% else %>
            <%= image_pack_tag "media/images/default.png", size: '300x450', class: 'card-img-top' %>
          <% end %>
          </div>
        </div>
        <div class="col-6">
          <div class="container my-5 pt-5">
            <div class='text-center'>
              <h2 class="font-weight-bold m-0"><%= @snack.alcohol_i18n %>
              <br><div class="py-2">✖️</div>
              <%= @query.name %></h2><br>
                <div class="rate-number inline-block-rate">
                  <%= @snack_rate %>
                </div>
                <div class="rate-number inline-block-rate">
                  <%= render 'snacks/snack_rate', snack_rate: @snack_rate %>
                </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class='result-chart'>
            <div id="chart" data-snack-id="<%= @snack.id %>" data-sweetness-value="<%= @snack.reviews.average(:sweetness) %>" data-salty-value="<%= @snack.reviews.average(:salty) %>" data-acidity-value="<%= @snack.reviews.average(:acidity) %>" data-taste-value="<%= @snack.reviews.average(:taste) %>" data-scent-value="<%= @snack.reviews.average(:scent) %>">
            <canvas id="myRaderChart-<%= @snack.id %>"></canvas>
            </div>
          </div>
          <%= javascript_pack_tag 'pages/ratechart' %>

          <div class='text-center'>
            <div class="row justify-content-center">
              <div class="col-xl-8 col-md-12">
                <% if logged_in? %>
                  <a data-toggle="collapse" href="#collapseExample" aria-controls="collapseExample" class="text-decoration-none"><h3 class="comment-table text-white rounded-pill shadow-lg p-3 my-5">コメント</h3></a>
                  <%= render 'snacks/review_area' %>
                <% else %>
                  <h3 class="comment-table text-white rounded-pill shadow-lg p-3 my-5 text-decoration-none">コメント</h3>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-12">  
                <table id="js-table-comment" class="table text-left">
                  <%= render @reviews, review: @review %>
                </table>
              </div>
            </div>
          </div>
          <div class="share-button fixed-bottom">
            <div class="d-flex justify-content-center">
              <%= link_to "https://twitter.com/intent/tweet?text=今日のおつまみは#{@snack.name}を試します！&url=#{request.url}&hashtags=おつまみこ,今日のおつまみ", class: "twitter btn btn-primary rounded-pill d-inline-flex" do %>
                <i class="fab fa-twitter fa-3x d-inline-flex mt-1 ml-2"></i><div class="h3 m-2"> おつまみを宣言</div>
              <% end %>
              <%= link_to snacks_path, class: "btn btn-danger rounded-pill twitter" do %>
                <div class="h3 m-2">他のおつまみ</div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>