<% if @query.alcohol == "beer" %>
  <div class="bg-warning">
<% elsif @query.alcohol == "wine" %>
  <div class="bg-danger">
<% elsif @query.alcohol == "sake" %>
  <div class="bg-info">
<% end %>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <div class="card my-5">
          <div class="card-body">
            <div class='text-center'>
              <p>あなたにぴったりの</p>
              <h1 class="font-weight-bold m-5">おつまみ</h1>
              <p>今日のおつまみは<br>これを試してみましょう！</p>
              <%= @query.name %>
              <%= @snack_rate %>
            <%= render 'snacks/snack_rate', snack_rate: @snack_rate %>

            <p>気になっている人<%= @snack.bookmarks.count %>人</p>

          <div id="chart" data-snack-id="<%= @snack.id %>" data-sweetness-value="<%= @snack.reviews.average(:sweetness) %>" data-salty-value="<%= @snack.reviews.average(:salty) %>" data-acidity-value="<%= @snack.reviews.average(:acidity) %>" data-taste-value="<%= @snack.reviews.average(:taste) %>" data-scent-value="<%= @snack.reviews.average(:scent) %>">
            <canvas id="myRaderChart-<%= @snack.id %>"></canvas>
          </div>
          <%= javascript_pack_tag 'pages/ratechart' %>

          <p>コメント</p>
          <% if logged_in? %>
            <%= render 'snacks/review_area' %>
          <% end %>
          <div class="row">
            <div class="col-lg-8 offset-lg-2">  
              <table id="js-table-comment" class="table">
                <%= render @reviews, review: @review %>
              </table>
            </div>
          </div>
          <div class="share-button fixed-bottom">
            <div class="d-flex justify-content-center">
              <%= link_to "https://twitter.com/intent/tweet?text=今日のおつまみは#{@snack.name}を試します！&url=#{request.url}&hashtags=おつまみこ,今日のおつまみ", class: "btn btn-primary rounded-pill" do %>
                <i class="fab fa-twitter"></i> 今日のおつまみを宣言
              <% end %>
              <%= link_to snacks_path, class: "btn btn-danger rounded-pill" do %>
                他のおつまみを見る
              <% end %>
            </div>
          </div>
        </div>
       </div>
      </div>
    </div>
  </div>
</div>