<% content_for(:title, "ぴったりのおつまみを探す") %>
<div class="container food-choice w-75">
  <div class="card my-5 shadow-lg p-3 mb-5 bg-white rounded food-choice-card">
    <div class="card-body">
      <div class='text-center'>
        <h1 class="font-weight-bold mt-5 title-font">どっちがお好きですか？</h1>
      </div>
      <div id="qestion_01" class="fit">
        <div class="row">
          <div class="col-xl-6 col-md-12 my-3">
            <div class='text-center'>
              <h2>がっつりご飯</h2>
              <%= link_to "#", class: "button q1", id: "q_01", data: {id: Tag.find_by(name: "おかず").id}, "data-turbolinks": false do %>
              <%= image_pack_tag("media/images/pizza.jpg", size: "450x450", class: "shadow-lg rounded") %>
              <% end %>
            </div>
          </div>
          <div class="col-xl-6 col-md-12 my-3">
            <div class='text-center'>
              <h2>軽くおつまみ</h2>
              <%= link_to "#", class: "button", id: "q_02", data: {id: Tag.find_by(name: "軽食").id}, "data-turbolinks": false do %>
                <%= image_pack_tag("media/images/snack.jpg", size: "450x450", class: "shadow-lg rounded") %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div id="qestion_02" style="display: none;">
        <div class="row">
          <div class="col-xl-6 col-md-12 my-3">
            <div class='text-center'>
              <h2>体重が気になる</h2>
                <%= link_to "#", class: "button", id: "q_03", data: {id: Tag.find_by(name: "150kcal以下").id}, "data-turbolinks": false do %>
                  <%= image_pack_tag("media/images/fat.jpg", size: "450x450", class: "shadow-lg rounded") %>
                <% end %>
            </div>
          </div>
          <div class="col-xl-6 col-md-12 my-3">
            <div class='text-center'>
              <h2>価格は安めに抑えたい</h2>
                <%= link_to "#", class: "button", id: "q_04", data: {id: Tag.find_by(name: "500円以下").id}, "data-turbolinks": false do %>
                  <%= image_pack_tag("media/images/money.jpg", size: "450x450", class: "shadow-lg rounded") %>
                <% end %>
            </div>
          </div>
        </div>
      </div>
      <div id="qestion_03" style="display: none;">
        <div class="row">
          <div class="col-xl-6 col-md-12 my-3">
            <div class='text-center'>
              <h2>体重が気になる</h2>
                <%= link_to "#", class: "button", id: "q_05", data: {id: Tag.find_by(name: "150kcal以下").id}, "data-turbolinks": false do %>
                  <%= image_pack_tag("media/images/fat.jpg", size: "450x450", class: "shadow-lg rounded") %>
                <% end %>
            </div>
          </div>
          <div class="col-xl-6 col-md-12 my-3">
            <div class='text-center'>
              <h2>価格は安めに抑えたい</h2>
                <%= link_to "#", class: "button", id: "q_06", data: {id: Tag.find_by(name: "500円以下").id}, "data-turbolinks": false do %>
                  <%= image_pack_tag("media/images/money.jpg", size: "450x450", class: "shadow-lg rounded") %>
                <% end %>
            </div>
          </div>
        </div>
      </div>
      <div id="qestion_04" style="display: none;">
        <div class="row">
          <div class="col-xl-6 col-md-12 my-3">
            <div class='text-center'>
              <h2>赤ワイン</h2>
                <%= link_to "#", class: "button", id: "q_07", data: {id: Tag.find_by(name: "赤ワイン").id}, "data-turbolinks": false do %>
                  <%= image_pack_tag("media/images/red_wine.jpg", size: "450x450", class: "shadow-lg rounded") %>    
                <% end %>
            </div>
          </div>
          <div class="col-xl-6 col-md-12 my-3">
            <div class='text-center'>
              <h2>白ワイン</h2>
                <%= link_to "#", class: "button", id: "q_08", data: {id: Tag.find_by(name: "白ワイン").id}, "data-turbolinks": false do %>
                  <%= image_pack_tag("media/images/white_wine.jpg", size: "450x450", class: "shadow-lg rounded") %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="text-center">
      <ul class="nav nav-tabs nav-pills">
        <li class="nav-item col p-0">
          <%= link_to choice_path, class: "nav-link wine-tab active" do %>
            <i class="fas fa-glass-cheers"></i></i>
          <% end %>
        </li>
        <li class="nav-item col p-0">
          <%= link_to snacks_path, class: "nav-link search-tab" do %>
            <i class="fas fa-search"></i></i></i>
          <% end %>
        </li>
        <% if logged_in? %>
        <li class="nav-item col p-0">
          <%= link_to mypage_path, class: "nav-link nomal-tab" do %>
            <i class="far fa-user-circle"></i></i></i>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  </div>

<%= javascript_pack_tag 'pages/choice' %>